@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply
    flex flex-col justify-between min-h-svh
    bg-stone-100 dark:bg-slate-900 text-sky-800 dark:text-stone-300
    border-t-4 border-amber-300
  }

  .text {
    @apply
    text-sky-800 dark:text-stone-300
  }

  .btn {
    @apply
    font-medium
    inline-flex items-center justify-center gap-2
    rounded-full
    outline-2 outline-offset-2
    transition duration-300
    hover:outline focus:outline
    disabled:pointer-events-none
  }

  .btn-lg {
    @apply
    h-12 text-xl
  }

  .btn-md {
    @apply
    h-10 text-sm
  }

  .btn-sm {
    @apply
    h-8 px-4 min-w-24 text-sm
  }

  .btn-primary {
    @apply
    bg-amber-300 dark:bg-amber-400 dark:text-sky-800
    outline-amber-300 dark:outline-amber-400
    hover:bg-amber-200
    focus:bg-amber-300 dark:focus:bg-amber-300
    disabled:opacity-25
  }

  .btn-secondary {
    @apply
    border border-stone-200 dark:border-slate-700
    outline-amber-300 dark:outline-sky-900
    hover:bg-amber-200 dark:hover:bg-sky-950 hover:border-transparent dark:hover:border-transparent
    focus:bg-amber-300 dark:focus:bg-sky-900 focus:border-transparent dark:focus:border-transparent
    disabled:opacity-40
  }

  .btn-danger {
    @apply
    outline-rose-300 dark:outline-rose-800
    bg-rose-50 dark:bg-rose-700
    text-rose-600 dark:text-white
    hover:bg-rose-100 dark:hover:bg-rose-600
    focus:bg-rose-200 dark:focus:bg-rose-800
  }

  .btn-on-card {
    @apply
    rounded-lg w-8 h-8 shrink-0 text-xl
    outline-amber-300 outline-offset-0
    bg-stone-100 dark:bg-slate-900
    hover:bg-amber-200 dark:hover:bg-amber-400 dark:hover:text-sky-800 hover:outline-none dark:hover:outline-none
    focus:bg-amber-300 dark:focus:bg-amber-300 dark:focus:text-sky-800 focus:outline-none dark:focus:outline-none
  }

  .btn-on-footer {
    @apply
    outline-amber-300
    hover:bg-stone-100 dark:hover:bg-slate-900 hover:outline-none
    focus:bg-stone-50 dark:focus:bg-slate-950
  }

  .card {
    @apply
    rounded-xl
    outline-2 outline-offset-2 outline-amber-300 dark:outline-sky-800
    bg-stone-50 dark:bg-slate-800
    text-sky-800 dark:text-stone-300
    transition duration-300
    border border-stone-200 dark:border-slate-700
    hover:outline
    focus:outline
  }

  .dialog {
    @apply
    rounded-xl
    text-sky-800 dark:text-stone-300
    bg-stone-50 dark:bg-slate-800
  }

  .sheet {
    @apply
    px-6 md:px-9 py-9 rounded-lg
    bg-white dark:bg-slate-800
    border border-stone-200 dark:border-slate-700
  }

  .input {
    @apply
    w-full rounded-full
    border border-stone-200 dark:border-slate-700
    bg-white dark:bg-slate-900
    font-hand
    caret-amber-400 dark:caret-amber-300 placeholder-stone-300 dark:placeholder-slate-700
    ring-inset ring-yellow-400
    transition duration-300
    hover:ring-2
    focus:ring-2 focus:outline-none focus:placeholder-transparent dark:focus:placeholder-transparent
  }

  .textarea {
    @apply
    h-full px-4 py-2 bg-transparent
    caret-amber-400 dark:caret-amber-300 placeholder-stone-300 dark:placeholder-slate-700
    transition duration-300
    text-sky-800 dark:text-stone-300
    text-lg leading-loose
    focus:outline-none focus:placeholder-transparent dark:focus:placeholder-transparent
  }

  .spinner {
    @apply
    animate-spin m-auto rounded-full
    border-2 border-stone-300 dark:border-slate-700 border-t-transparent dark:border-t-transparent
  }
}
