@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text {
    @apply
    leading-relaxed
    text-sky-800 dark:text-stone-300
  }

  .btn {
    @apply
    font-medium
    inline-flex items-center justify-center
    rounded-full
    outline-2 outline-offset-2
    transition duration-300
    disabled:pointer-events-none
  }

  .btn-md {
    @apply
    px-5 py-3 text-sm
  }

  .btn-primary {
    @apply
    border border-amber-300 dark:border-amber-400 bg-amber-300 dark:bg-amber-400
    text-xl dark:text-sky-800
    outline-2 outline-offset-2 outline-amber-300 dark:outline-amber-400
    transition duration-300
    hover:outline hover:border-transparent hover:bg-amber-200
    focus:outline focus:border-transparent focus:bg-amber-300 dark:focus:bg-amber-300
    disabled:opacity-25 disabled:pointer-events-none
  }

  .btn-secondary {
    @apply
    border border-stone-200 dark:border-slate-700
    outline-amber-300 dark:outline-sky-900
    hover:bg-amber-200 dark:hover:bg-sky-950 hover:outline hover:border-transparent dark:hover:border-transparent
    focus:bg-amber-300 dark:focus:bg-sky-900 focus:outline focus:border-transparent dark:focus:border-transparent
    disabled:opacity-40
  }

  .btn-danger {
    @apply
    outline-rose-300 dark:outline-rose-700
    bg-rose-50 dark:bg-rose-900
    text-rose-600 dark:text-white
    hover:bg-rose-100 dark:hover:bg-rose-800 hover:outline
    focus:bg-rose-200 dark:focus:bg-rose-700 focus:outline
  }

  .btn-footer {
    @apply
    outline-amber-300
    hover:bg-stone-100 dark:hover:bg-slate-900
    focus:bg-stone-50 dark:focus:bg-slate-950 focus:outline
  }

  .card {
    @apply
    rounded-xl
    outline-2 outline-offset-2 outline-amber-300 dark:outline-sky-800
    bg-stone-50 dark:bg-slate-800
    text-sky-800 dark:text-stone-300
    transition duration-300
    border border-stone-200 dark:border-slate-700
    hover:outline
    focus:outline
  }

  .dialog {
    @apply
    rounded-xl
    text-sky-800 dark:text-stone-300
    bg-stone-50 dark:bg-slate-800
  }

  .input {
    @apply
    w-full rounded-full
    border border-stone-200 dark:border-slate-700
    bg-white dark:bg-slate-900
    font-hand
    placeholder-stone-300 dark:placeholder-slate-700
    ring-inset ring-amber-200 dark:ring-sky-900
    transition duration-300
    hover:ring-2
    focus:ring-2 focus:outline-none focus:placeholder-transparent dark:focus:placeholder-transparent
  }

  .textarea {
    @apply
    h-full px-4 py-2 bg-transparent
    caret-amber-300 placeholder-stone-300 dark:placeholder-slate-700
    transition duration-300
    text-sky-800 dark:text-stone-300
    text-base leading-loose md:text-lg md:leading-loose
    focus:outline-none focus:placeholder-transparent dark:focus:placeholder-transparent
  }
}
